//Main styles for Ticket Management Screen 

.TicketMangement {
    width: 100%;
    // height: calc(100% - 40px);
}

// Ticket Header with sort and Filter Button
.TicketHeader {
    background-color: #f5f7f9;
    height: 3rem;
    border-bottom: 1px #cfd7df solid;
    padding: 0 15px;
    box-shadow: 0 2px 4px 0 rgb(24 50 71 / 8%);
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

//Sort Section 


.SortSection{
    display: flex;
    align-items: center;
    span{
        font-size: 15px;

        
    }
}

// Filter Applied Functionality with css
.RedIcon{
    top: 6px;
    height: 10px;
    width: 10px;
    background: red;
    border-radius: 11px;
    position: relative;
    z-index: 200;
    left: -4px;
}


.FilterDrawer{
    color: #12344D;
    top:17%;

   
}

.FilterDrawer.-MuiDrawer-paper{
    top:17%
}



